@font-face {
  font-family: ArialBold;
  font-display: swap;
  src: url(../fonts/ArialBold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: MYRIADPRO;
  font-display: swap;
  src: url(../fonts/MYRIADPRO-BOLD.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: ArialRegular;
  font-display: swap;
  src: url(../fonts/ArialRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: MYRIADPRO;
  font-display: swap;
  src: url(../fonts/MYRIADPRO-REGULAR.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus {
  outline: 0
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #1a1a1a;
  line-height: 1;
  font-family: MYRIADPRO,sans-serif;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: MYRIADPRO,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
._container {
  padding: 0 16px
}
.header__slider {
  -webkit-mask: url(../img/mask.svg) center bottom/cover no-repeat;
  mask: url(../img/mask.svg) center bottom/cover no-repeat
}
.header__slide {
  padding: 75px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  visibility: hidden
}
.header__slide.swiper-slide-active {
  visibility: visible
}
.header__slide-title {
  margin-bottom: 50px;
  padding-right: 60px;
  font-size: 60px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  color: #f5f5f5;
  text-shadow: 0 0 10px #000
}
.header__slide-body {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 40px
}
.header__slide-product {
  align-self: center;
  width: 220px
}
.header__slide-control {
  align-self: center
}
.header__slide-button {
  padding: 20px 60px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #a59b79;
  border: 3px solid #a59b79;
  border-radius: 46px;
  transition: all .5s ease
}
.header__slide-emblem {
  display: none
}
.header__slide-info-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 15px
}
.header__slide-logo {
  max-width: 220px
}
.header__slide-flag {
  width: 55px
}
.header__slide-name {
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: 2px #000
}
.header__slider-pagination {
  position: absolute;
  z-index: 2;
  top: 85px;
  right: 16px
}
.header__slider-pagination-container {
  display: flex;
  flex-direction: column;
  gap: 11px
}
.header__slider-pagination-container .swiper-pagination-bullet {
  position: relative;
  width: 19px;
  height: 19px;
  cursor: pointer
}
.header__slider-pagination-container .swiper-pagination-bullet.swiper-pagination-bullet-active {
  cursor: default
}
.header__slider-pagination-container .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-color: #877d46
}
.header__slider-pagination-container .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  background-color: #877d46;
  border-color: #cbbfa6
}
.header__slider-pagination-container .swiper-pagination-bullet.swiper-pagination-bullet-active img {
  opacity: 1;
  visibility: visible
}
.header__slider-pagination-container .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  transition: all .5s ease
}
.header__slider-pagination-container .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all .5s ease
}
.header__slider-pagination-container .swiper-pagination-bullet img {
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26px;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease
}
.header__bottom {
  padding-top: 20px;
  position: relative;
  background-color: #fff;
  transition: all .5s ease
}
.header__bottom.fixed {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%
}
.header__bottom ._container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px
}
.header__logo {
  height: 26px
}
.header__logo img {
  height: 100%
}
.header__button-menu {
  position: relative;
  width: 24px;
  height: 20px
}
.header__button-menu span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #878787;
  border-radius: 4px;
  transition: all .5s ease
}
.header__button-menu span:first-child {
  top: 0
}
.header__button-menu span:nth-child(2) {
  top: calc(50% - 2px)
}
.header__button-menu span:last-child {
  bottom: 0
}
.menu-open .header__button-menu span:first-child {
  top: calc(50% - 2px);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.menu-open .header__button-menu span:nth-child(2) {
  opacity: 0;
  visibility: hidden
}
.menu-open .header__button-menu span:last-child {
  top: calc(50% - 2px);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.header__menu {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(100% + 32px);
  margin: 0 -16px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .5s ease
}
.header__menu.active {
  height: auto;
  opacity: 1;
  visibility: visible
}
.header__menu-link {
  padding: 20px 16px;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  border-top: 1px solid #878787;
  transition: all .5s ease
}
.footer {
  padding-top: 90px;
  position: relative;
  background: url(../img/footer-bg.webp) center calc(100% - 215px)/auto calc(100% - 215px) no-repeat;
  -webkit-mask: url(../img/footer-mask.svg) center left/auto 100% repeat;
  mask: url(../img/footer-mask.svg) center left/auto 100% repeat
}
.footer::after {
  content: "";
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #111011
}
.footer ._container {
  position: relative;
  z-index: 3
}
.footer__top {
  margin-bottom: 200px;
  padding: 20px 12px;
  background-color: #fff;
  border-radius: 24px
}
.footer__title {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase
}
.footer__input {
  display: inline-block;
  margin-bottom: 12px;
  padding: 16px 24px;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid #dedede;
  border-radius: 30px
}
.footer__button {
  position: relative
}
.footer__button::after {
  content: "";
  position: absolute;
  z-index: 5;
  top: -2px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid #fcd130;
  border-radius: 30px;
  transition: all .5s ease
}
.footer__column {
  position: relative;
  left: -16px;
  padding: 20px 16px;
  width: calc(100% + 32px);
  border-top: 1px solid #232323
}
.footer__column.column-1 {
  display: none
}
.footer__column.column-5 {
  border-bottom: 1px solid #232323
}
.footer__logo {
  display: inline-block;
  margin-bottom: 26px;
  width: 100%;
  text-align: center
}
.footer__logo img {
  height: 26px
}
.footer__text {
  display: none
}
.footer__socials {
  position: relative;
  left: -16px;
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 20px 16px;
  width: calc(100% + 32px);
  border-bottom: 1px solid #232323
}
.footer__social {
  flex: 0 0 24px;
  width: 24px;
  height: 24px
}
.footer__social:active svg {
  fill: #ffdf66;
  stroke: #ffdf66
}
.footer__social svg {
  width: 100%;
  height: 100%;
  fill: #fff;
  stroke: #fff;
  transition: all .5s ease
}
.footer__column-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none
}
.footer__column-title._spoller-active .footer__column-title-icon::after {
  -webkit-transform: translate(-50%,-50%) rotate(0);
  transform: translate(-50%,-50%) rotate(0)
}
.footer__column-title-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff
}
.footer__column-title-icon {
  position: relative;
  flex: 0 0 21px;
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  border-radius: 50%
}
.footer__column-title-icon::after,
.footer__column-title-icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 10px;
  height: 2px;
  background-color: #fff
}
.footer__column-title-icon::after {
  -webkit-transform: translate(-50%,-50%) rotate(90deg);
  transform: translate(-50%,-50%) rotate(90deg);
  transition: all .5s ease
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  transition: all .5s ease
}
.footer__link:active {
  color: #ffdf66
}
.footer__link.no-link:active,
.footer__link.no-link:hover {
  color: #fff
}
.footer__link svg {
  width: 18px;
  height: 18px;
  fill: #fff
}
.footer__bottom ._container {
  display: flex;
  flex-direction: column-reverse;
  padding: 0
}
.footer__copyright {
  padding: 16px;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff
}
.footer__pays {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px 16px;
  border-bottom: 1px solid #232323
}
.footer__pay {
  flex: 0 0 48px;
  width: 48px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 2px
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 16px 40px;
  width: 100%;
  background-color: #fcd130;
  border: 1px solid #fcd130;
  border-radius: 38px;
  transition: all .5s ease
}
.button:active {
  background-color: #ebc022;
  border: 1px solid #ebc022
}
.button.white {
  background-color: transparent;
  border: 1px solid #fff
}
.button.white span {
  color: #fff
}
.button.white svg {
  fill: #fff
}
.button span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #1a1a1a;
  transition: all .5s ease
}
.button svg {
  width: 20px;
  height: 20px;
  fill: #1a1a1a;
  transition: all .5s ease
}
.catalog {
  position: relative;
  padding: 100px 0;
  background-color: #cbbfa6
}
.catalog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(../img/catalog-mask.webp) left top/auto 100% repeat;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.catalog::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: url(../img/catalog-mask.webp) left top/auto 100% repeat
}
.catalog__slider {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  min-width: 0
}
.catalog__slider-body {
  flex: 1 1 auto
}
.catalog__product {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  opacity: 0;
  visibility: hidden
}
.catalog__product.swiper-slide-active {
  opacity: 1;
  visibility: visible
}
.catalog__product-slider {
  flex: 1 1 auto
}
.catalog__product-slide {
  position: relative;
  padding-bottom: 40px
}
.catalog__product-slide::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 10px;
  width: calc(100% - 20px);
  height: 10px;
  background-color: #000;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  border-radius: 50%
}
.catalog__product-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.catalog__product-pagination {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 4px;
  transition: all 0s ease
}
.catalog__product-pagination.hide {
  opacity: 0;
  visibility: hidden
}
.catalog__product-pagination .swiper-pagination-bullet {
  position: relative;
  width: 19px;
  height: 19px;
  cursor: pointer
}
.swiper-slide-active .catalog__product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  cursor: default
}
.swiper-slide-active .catalog__product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-color: #877d46
}
.swiper-slide-active .catalog__product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  background-color: #877d46;
  border-color: #cbbfa6
}
.swiper-slide-active .catalog__product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active img {
  opacity: 1;
  visibility: visible
}
.catalog__product-pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 19px;
  height: 19px;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0s ease
}
.catalog__product-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all 0s ease
}
.catalog__product-pagination .swiper-pagination-bullet img {
  position: absolute;
  top: 50%;
  right: -40px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26px;
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease
}
.catalog__control {
  display: flex;
  align-items: center;
  gap: 5px
}
.catalog__control-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer
}
.catalog__control-arrow-next {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.catalog__control-arrow.swiper-button-disabled {
  cursor: default;
  opacity: .5
}
.catalog__control-arrow svg {
  width: 20px;
  fill: #fff;
  stroke: #fff;
  transition: all .5s ease
}
.catalog__control-pagination {
  display: flex;
  gap: 3px;
  font-size: 20px;
  color: #fff
}
.product-info__title {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column
}
.product-info__title span:first-child {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 120%;
  color: #000
}
.product-info__title span:last-child {
  font-size: 30px;
  line-height: 120%;
  font-weight: 700;
  color: #000
}
.product-info__control {
  margin-bottom: 10px;
  display: flex;
  gap: 10px
}
.product-info__control-button {
  padding: 10px 25px;
  font-size: 14px;
  line-height: 120%;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all .5s ease
}
.current-product .product-info__control-button {
  color: #000
}
.product-info__control-button.active {
  border: 1px solid #000
}
.product-info__form {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin-top: 30px
}
.product-info__form-line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 45px
}
.product-info__form-line-name {
  font-size: 16px;
  line-height: 120%;
  color: #fff
}
.product-info__form-line-name.cost {
  padding-left: 10px
}
.current-product .product-info__form-line-name.cost {
  color: #000
}
.product-info__form-line-name.size {
  position: absolute;
  top: -35px;
  left: -10px;
  width: 70px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  transition: all .5s ease
}
.product-info__form-line-name.size::after {
  content: "";
  position: absolute;
  left: calc(50% - 8px);
  bottom: -5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #000
}
.product-info__form-body {
  display: flex;
  flex-wrap: wrap
}
.product-info__form-label input {
  display: none
}
.product-info__form-label input:checked + span {
  background-color: #000;
  color: #fff;
  cursor: default
}
.product-info__form-label span {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: all .5s ease
}
.product-info__cost {
  position: relative
}
.product-info__cost-new {
  font-size: 36px;
  line-height: 120%;
  font-weight: 700;
  color: #000
}
.product-info__cost-old {
  position: absolute;
  left: 0;
  top: -20px;
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  text-decoration: line-through;
  color: #7a7e2d
}
.product-info__control {
  display: flex;
  align-items: center;
  gap: 25px
}
.product-info__button {
  align-self: start;
  padding: 0 80px;
  height: 70px;
  font-size: 24px;
  line-height: 70px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  border-radius: 60px;
  transition: all .5s ease
}
.product-info__button.yellow {
  color: #fff;
  background-color: #fcd130
}
.product-info__button-play {
  display: none
}
.product-info__button-play svg {
  fill: #fcd130;
  stroke: #fcd130;
  width: 20px;
  transition: all .5s ease
}
.products {
  position: relative;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding: 30px 0
}
.products__item {
  position: relative;
  flex: 0 0 calc(50% - 10px);
  display: flex;
  flex-direction: column;
  padding-bottom: 30px
}
.products__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  -webkit-filter: blur(10px);
  filter: blur(10px)
}
.products__item-image {
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 20px;
  padding: 0 10px
}
.products__item-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.products__item-content {
  position: relative;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px 8px 0 0
}
.products__item-button {
  position: absolute;
  top: -16px;
  right: 7px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7a7e2d;
  border: 1px solid #7a7e2d;
  border-radius: 50%;
  transition: all .5s ease
}
.products__item-button svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: all .5s ease
}
.products__item-type {
  font-size: 10px;
  line-height: 120%;
  color: #000
}
.products__item-company {
  font-size: 10px;
  line-height: 120%;
  color: #000
}
.products__item-name {
  margin-bottom: 12px;
  font-size: 10px;
  line-height: 120%;
  color: #000
}
.products__item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}
.products__item-link {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer
}
.products__item-link svg {
  width: 12px;
  height: 12px;
  fill: #737373;
  transition: all .5s ease
}
.products__item-link span {
  font-size: 8px;
  line-height: 120%;
  color: #737373;
  transition: all .5s ease
}
.products__item-cost {
  position: relative
}
.products__item-cost-old {
  position: absolute;
  right: 0;
  top: -10px;
  font-size: 9px;
  line-height: 120%;
  font-weight: 700;
  text-decoration: line-through;
  white-space: nowrap;
  color: #7a7e2d
}
.products__item-cost-new {
  font-size: 12px;
  line-height: 120%;
  font-weight: 700;
  white-space: nowrap;
  color: #000
}
.product__slider {
  padding: 10px 0 30px;
  max-width: 450px
}
.product__slider-body {
  position: relative;
  padding-right: 50px
}
.product__slider-slide {
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 100%;
  visibility: hidden
}
.product__slider-slide.swiper-slide-active {
  visibility: visible
}
.product__slider-slide::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -50px;
  width: calc(100% - 20px);
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  opacity: .3
}
.product__slider-slide video {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  -o-object-fit: contain;
  object-fit: contain
}
.product__slider-slide img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -o-object-fit: contain;
  object-fit: contain;
  transition: all .5s ease
}
.product__slider-slide img.hide {
  opacity: 0;
  visibility: hidden
}
.product__pagination {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px
}
.product__pagination .swiper-pagination-bullet {
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer
}
.product__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  cursor: default
}
.product__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  border-color: #877d46
}
.product__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  background-color: #877d46;
  border-color: #fff
}
.product__pagination .swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 25px;
  height: 25px;
  border: 3px solid #fcd130;
  background-color: #fcd130;
  border-radius: 50%;
  transition: all 0s ease
}
.product__pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 31px;
  height: 31px;
  border: 3px solid transparent;
  border-radius: 50%;
  transition: all 0s ease
}
.product__pagination .swiper-pagination-bullet img {
  position: absolute;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 52px;
  opacity: 0;
  visibility: hidden;
  transition: all 0s ease
}
.feature {
  position: relative;
  padding: 115px 0;
  background: url(../img/feature-bg.webp) center/cover no-repeat;
  -webkit-mask: url(../img/promotion-mask.svg) center left/auto 100% repeat;
  mask: url(../img/promotion-mask.svg) center left/auto 100% repeat
}
.feature::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .7
}
.feature__title {
  position: relative;
  z-index: 2;
  margin-bottom: 45px;
  text-align: center
}
.feature__title span {
  padding: 15px 25px;
  font-size: 30px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px
}
.feature__body {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 25px
}
.feature__column {
  display: flex;
  flex-direction: column;
  gap: 25px
}
.feature__item {
  display: flex;
  flex-direction: column;
  gap: 25px
}
.feature__item-title {
  font-size: 18px;
  line-height: 120%;
  color: #fcd130
}
.feature__item-text {
  font-size: 12px;
  line-height: 150%;
  color: #fff
}
.feedbacks {
  padding: 15px 0
}
.feedbacks__title {
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000
}
.feedbacks__slider {
  position: relative
}
.feedbacks__slider::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/feedback-border.webp) center/225px 100% no-repeat;
  transition: all .5s ease
}
.feedbacks__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 450px;
  -webkit-transform: scale(.8);
  transform: scale(.8)
}
.feedbacks__item.swiper-slide-active {
  border-radius: 35px;
  overflow: hidden;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.feedbacks__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all .5s ease
}
.about {
  padding: 88px 0 107px;
  position: relative;
  background: url(../img/about-bg.webp) center/cover no-repeat;
  -webkit-mask: url(../img/promotion-mask.svg) center left/auto 100% repeat;
  mask: url(../img/promotion-mask.svg) center left/auto 100% repeat
}
.about::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26,26,26,.9)
}
.about__body {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 32px
}
.about__images {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2,calc(50% - 4px) calc(50% - 4px));
  grid-template-rows: repeat(2,calc(50% - 4px) calc(50% - 4px));
  gap: 8px;
  width: 100%;
  height: 232px
}
.about__images::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(-17deg);
  transform: translate(-50%,-50%) rotate(-17deg);
  width: 200%;
  height: 110px;
  background-color: #fcd130
}
.about__images img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover
}
.about__images img:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2
}
.about__images img:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3
}
.about__images img:nth-child(3) {
  grid-column: 2/3;
  grid-row: 1/3
}
.about__content {
  text-align: center
}
.about__title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff
}
.about__text {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 11px;
  line-height: 18px;
  color: #fff
}
.advantages {
  padding: 60px 0
}
.advantages__body {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 12px
}
.advantages__item {
  flex: 0 0 calc(50% - 6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center
}
.advantages__item-icon {
  flex: 0 0 32px;
  width: 32px;
  height: 32px
}
.advantages__item-icon svg {
  width: 100%;
  height: 100%;
  fill: #7a7e2d
}
.advantages__item-title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase
}
.advantages__item-text {
  font-size: 11px;
  line-height: 18px
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .button {
    width: auto
  }
}
@media (min-width:47.99875em) {
  ._container {
    padding: 0 24px
  }
  .footer {
    padding-top: 180px;
    background: url(../img/footer-bg.webp) center calc(100% - 200px)/auto calc(100% - 200px) no-repeat
  }
  .footer__top {
    margin-bottom: 390px;
    padding: 40px 20px
  }
  .footer__title {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 40px
  }
  .footer__form {
    display: flex;
    border: 1px solid #dedede;
    border-radius: 30px
  }
  .footer__input {
    margin-bottom: 0;
    flex: 1 1 auto;
    border: none
  }
  .footer__body {
    display: flex;
    gap: 12px;
    margin-bottom: 24px
  }
  .footer__column {
    left: 0;
    padding: 0;
    flex: 0 0 calc(33.333% - 8px);
    width: calc(33.333% - 8px);
    border-top: none
  }
  .footer__column.column-1 {
    display: block
  }
  .footer__column.column-5 {
    border-bottom: none
  }
  .footer__logo {
    margin-bottom: 18px;
    text-align: left
  }
  .footer__logo img {
    height: 24px
  }
  .footer__text {
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    min-width: 310px;
    font-size: 14px;
    line-height: 24px;
    color: #dedede;
    border-bottom: 1px solid #232323
  }
  .footer__socials {
    left: 0;
    padding: 0;
    width: auto;
    border-bottom: none;
    justify-content: start
  }
  .footer__column-title {
    margin-bottom: 16px
  }
  .footer__column-title-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: #7a7e2d
  }
  .footer__column-title-icon {
    display: none
  }
  .footer__list {
    padding-top: 0
  }
  .footer__link svg {
    width: 20px;
    height: 20px;
    fill: #fcd130
  }
  .footer__second-body {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 -24px;
    padding: 24px 24px 20px;
    border-bottom: 1px solid #232323;
    border-top: 1px solid #232323
  }
  .footer__bottom {
    padding: 20px 0
  }
  .footer__bottom ._container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 24px
  }
  .footer__copyright {
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    text-align-last: left
  }
  .footer__pays {
    padding: 0;
    border-bottom: none
  }
  .catalog__content {
    display: flex;
    gap: 20px
  }
  .catalog__slider {
    flex: 1 1 auto;
    align-self: start
  }
  .product-info {
    flex: 0 0 320px
  }
  .product-info__form-line {
    gap: 30px
  }
  .product-info__form-line-name {
    flex: 0 0 60px;
    text-align: right
  }
  .product-info__form-line-name.size {
    position: static;
    height: auto;
    background-color: transparent;
    align-self: baseline;
    line-height: 50px;
    text-align: right
  }
  .current-product .product-info__form-line-name.size {
    color: #000
  }
  .product-info__form-line-name.size::after {
    display: none
  }
  .products {
    gap: 40px 21px
  }
  .products__item {
    flex: 0 0 calc(33.333% - 14px)
  }
  .product ._container {
    display: flex;
    gap: 20px
  }
  .product__slider {
    flex: 0 0 calc(100% - 340px);
    max-width: calc(100% - 340px)
  }
  .feature__body {
    flex-direction: row;
    gap: 40px
  }
  .feature__column {
    flex: 0 0 calc(50% - 20px)
  }
  .feature__column:first-child {
    text-align: right
  }
  .about {
    padding: 180px 0 170px
  }
  .about__body {
    flex-direction: column-reverse
  }
  .about__images {
    gap: 12px;
    height: 426px
  }
  .about__images::before {
    height: 220px;
    -webkit-transform: translate(-50%,-50%) rotate(-16deg);
    transform: translate(-50%,-50%) rotate(-16deg)
  }
  .about__content {
    text-align: left
  }
  .about__title {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px
  }
  .about__text {
    margin-bottom: 0;
    gap: 20px;
    font-size: 14px;
    line-height: 24px
  }
  .about__button {
    display: none
  }
  .advantages {
    padding: 80px 0
  }
  .advantages__body {
    gap: 40px 24px
  }
  .advantages__item {
    flex: 0 0 calc(50% - 12px);
    flex-direction: row;
    gap: 16px;
    text-align: left
  }
  .advantages__item-icon {
    flex: 0 0 40px;
    width: 40px;
    height: 40px
  }
  .advantages__item-title {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 20px
  }
  .advantages__item-text {
    font-size: 14px;
    line-height: 24px
  }
}
@media (min-width:61.99875em) {
  ._container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0
  }
  .header__slide-title {
    margin-bottom: 65px;
    font-size: 80px
  }
  .header__slide-body {
    flex-direction: row;
    align-items: flex-end;
    gap: 21px
  }
  .header__slide-product {
    flex: 0 0 calc(33.333% - 14px);
    width: calc(33.333% - 14px)
  }
  .header__slide-control {
    flex: 0 0 calc(33.333% - 14px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 20px
  }
  .header__slide-button:hover {
    color: #a59b79;
    background-color: #fff
  }
  .header__slide-emblem {
    display: block;
    width: 200px
  }
  .header__slide-info {
    flex: 0 0 calc(33.333% - 14px);
    display: flex;
    flex-direction: column;
    align-items: flex-end
  }
  .header__slider-pagination {
    right: 0;
    width: 100%
  }
  .header__slider-pagination-container {
    align-items: flex-end;
    max-width: 950px;
    margin: 0 auto
  }
  .header__slider-pagination-container .swiper-pagination-bullet.swiper-pagination-bullet-active:hover::after {
    background-color: #877d46;
    border-color: #cbbfa6
  }
  .header__slider-pagination-container .swiper-pagination-bullet:hover::after {
    background-color: #cbbfa6;
    border-color: #cbbfa6
  }
  .header__bottom {
    padding: 20px 0
  }
  .header__logo {
    height: 32px
  }
  .header__button-menu {
    display: none
  }
  .header__menu {
    opacity: 1;
    margin: 0;
    height: auto;
    visibility: visible;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 15px 40px;
    border-top: none
  }
  .header__menu-link {
    font-size: 16px;
    padding: 0;
    border-top: none
  }
  .header__menu-link:hover {
    color: #877d46
  }
  .footer__social:hover svg {
    fill: #fcd130;
    stroke: #fcd130
  }
  .footer__link:hover {
    color: #fcd130
  }
  .footer__bottom ._container {
    padding: 0
  }
  .button:hover {
    background-color: #ffdf66;
    border: 1px solid #ffdf66
  }
  .button.white:hover {
    background-color: #fff
  }
  .button.white:hover span {
    color: #1a1a1a
  }
  .button.white:hover svg {
    fill: #1a1a1a
  }
  .catalog__product-pagination .swiper-pagination-bullet:not(.swiper-slide-active):hover::after {
    border: 3px solid #877d46;
    background-color: #877d46
  }
  .catalog__control-arrow:not(.swiper-button-disabled):hover svg {
    fill: #877d46;
    stroke: #877d46
  }
  .product-info {
    flex: 0 0 400px
  }
  .product-info__form-label input:not(:checked) + span:hover {
    color: #877d46
  }
  .product-info__button.yellow:hover {
    background-color: #f1c005
  }
  .product-info__button:hover {
    color: #fff;
    background-color: #877d46
  }
  .product-info__button-play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border: 12px solid #fcd130;
    border-radius: 50%;
    cursor: pointer;
    transition: all .5s ease
  }
  .product-info__button-play:hover {
    border: 12px solid #f1c005
  }
  .product-info__button-play:hover svg {
    fill: #f1c005;
    stroke: #f1c005
  }
  .products {
    gap: 40px 20px
  }
  .products__item {
    flex: 0 0 calc(25% - 15px)
  }
  .products__item-button:hover {
    background-color: #fff
  }
  .products__item-button:hover svg {
    fill: #7a7e2d
  }
  .products__item-type {
    font-size: 14px
  }
  .products__item-company {
    font-size: 14px
  }
  .products__item-name {
    margin-bottom: 16px;
    font-size: 14px
  }
  .products__item-link:hover svg {
    fill: #7a7e2d
  }
  .products__item-link:hover span {
    color: #7a7e2d
  }
  .products__item-link svg {
    width: 16px;
    height: 16px
  }
  .products__item-link span {
    font-size: 10px
  }
  .products__item-cost-old {
    top: -15px;
    font-size: 12px
  }
  .products__item-cost-new {
    font-size: 16px
  }
  .product__slider {
    flex: 0 0 calc(100% - 420px);
    max-width: calc(100% - 420px)
  }
  .product__slider-body {
    padding-right: 150px
  }
  .product__pagination {
    top: 15px
  }
  .product__pagination .swiper-pagination-bullet:not(.swiper-slide-active):hover::after {
    border-color: #fff;
    background-color: #877d46
  }
  .product__pagination .swiper-pagination-bullet.swiper-pagination-bullet-active img {
    opacity: 1;
    visibility: visible
  }
  .feature__item-title {
    font-size: 24px
  }
  .feature__item-text {
    font-size: 14px
  }
  .feedbacks {
    padding: 50px 0
  }
  .feedbacks__body {
    max-width: 950px;
    margin: 0 auto
  }
  .feedbacks__slider::after {
    background-size: 22% 100%
  }
  .feedbacks__item {
    height: auto;
    aspect-ratio: 1/2;
    -webkit-transform: scale(.7);
    transform: scale(.7)
  }
  .feedbacks__item.swiper-slide-prev {
    z-index: 2;
    -webkit-transform: translateX(-30%) scale(.85);
    transform: translateX(-30%) scale(.85)
  }
  .feedbacks__item.swiper-slide-next {
    z-index: 2;
    -webkit-transform: translateX(30%) scale(.85);
    transform: translateX(30%) scale(.85)
  }
}
@media (min-width:79.99875em) {
  ._container {
    max-width: 1240px
  }
  .header__slide {
    padding: 160px 0 140px
  }
  .header__slide-title {
    margin-bottom: 80px;
    font-size: 117px;
    padding-right: 150px
  }
  .header__slide-control {
    gap: 50px
  }
  .header__slide-button {
    padding: 30px 90px;
    font-size: 30px
  }
  .header__slide-info-top {
    margin-bottom: 35px;
    gap: 20px
  }
  .header__slide-logo {
    max-width: 315px
  }
  .header__slide-flag {
    width: 85px
  }
  .header__slide-name {
    font-size: 110px
  }
  .header__slider-pagination-container {
    max-width: 1240px
  }
  .header__slider-pagination-container .swiper-pagination-bullet {
    width: 38px;
    height: 38px
  }
  .header__slider-pagination-container .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    border-color: #cbbfa6
  }
  .header__slider-pagination-container .swiper-pagination-bullet::after {
    width: 38px;
    height: 38px;
    border: 6px solid #fff
  }
  .header__slider-pagination-container .swiper-pagination-bullet::before {
    width: 44px;
    height: 44px
  }
  .header__slider-pagination-container .swiper-pagination-bullet img {
    left: -90px;
    width: 50px
  }
  .header__menu {
    gap: 15px 65px
  }
  .footer {
    background: url(../img/footer-bg.webp) center/cover no-repeat
  }
  .footer::after {
    display: none
  }
  .footer__top {
    margin-bottom: 470px;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 130px;
    border-radius: 80px
  }
  .footer__title {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 44px
  }
  .footer__form {
    flex: 1 1 auto
  }
  .footer__body {
    gap: 10px;
    margin-bottom: 20px
  }
  .footer__column {
    flex: 0 0 calc(25% - 77.5px);
    width: calc(25% - 77.5px)
  }
  .footer__column.column-1 {
    flex: 0 0 270px;
    width: 270px
  }
  .footer__text {
    max-width: 250px;
    min-width: auto
  }
  .footer__second-body {
    display: none
  }
  .footer__bottom {
    padding: 24px 0;
    border-top: 1px solid #232323
  }
  .catalog {
    padding: 150px 0
  }
  .catalog__product {
    align-items: center;
    gap: 115px
  }
  .catalog__product-slide {
    padding-bottom: 150px
  }
  .catalog__product-slide::after {
    height: 50px;
    opacity: .2;
    -webkit-filter: blur(10px);
    filter: blur(10px)
  }
  .catalog__product-pagination {
    gap: 22px
  }
  .catalog__product-pagination .swiper-pagination-bullet {
    width: 38px;
    height: 38px
  }
  .swiper-slide-active .catalog__product-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    border-color: #cbbfa6
  }
  .catalog__product-pagination .swiper-pagination-bullet::after {
    width: 38px;
    height: 38px
  }
  .catalog__product-pagination .swiper-pagination-bullet::before {
    width: 44px;
    height: 44px
  }
  .catalog__product-pagination .swiper-pagination-bullet img {
    right: -80px;
    width: 52px
  }
  .catalog__control {
    gap: 20px;
    padding-bottom: 150px
  }
  .catalog__control-arrow svg {
    width: 36px
  }
  .catalog__control-pagination {
    font-size: 24px
  }
  .product-info {
    flex: 0 0 550px
  }
  .product-info.current-product {
    padding-left: 150px
  }
  .product-info__control {
    margin-bottom: 40px
  }
  .product-info__control-button {
    padding: 12px 30px;
    font-size: 18px
  }
  .product-info__form {
    margin-top: 0
  }
  .product-info__form-body {
    width: 260px
  }
  .product-info__form-label span {
    width: 64px;
    height: 64px;
    font-size: 24px;
    line-height: 64px
  }
  .product-info__button {
    margin-left: 25px
  }
  .products {
    gap: 40px 30px
  }
  .products__item {
    flex: 0 0 calc(16.666% - 25px);
    padding-bottom: 0
  }
  .products__item::after {
    display: none
  }
  .products__item-image {
    margin-bottom: 40px;
    padding: 0 40px 60px 40px
  }
  .products__item-image::after {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 0;
    height: 20px;
    width: calc(100% - 60px);
    background-color: #000;
    border-radius: 50%;
    -webkit-filter: blur(7px);
    filter: blur(7px);
    opacity: .3
  }
  .products__item-content {
    padding: 10px
  }
  .products__item-button {
    width: 46px;
    height: 46px;
    right: 10px;
    top: -23px
  }
  .products__item-button svg {
    width: 24px;
    height: 24px
  }
  .product__slider {
    flex: 0 0 calc(100% - 570px);
    max-width: calc(100% - 570px)
  }
  .product__slider-body {
    padding-right: 230px
  }
  .product__pagination .swiper-pagination-bullet {
    width: 38px;
    height: 38px
  }
  .product__pagination .swiper-pagination-bullet::after {
    width: 38px;
    height: 38px
  }
  .product__pagination .swiper-pagination-bullet::before {
    width: 44px;
    height: 44px
  }
  .feature {
    padding: 120px 0 160px
  }
  .feature__title {
    margin-bottom: 50px
  }
  .feature__title span {
    padding: 17px 30px;
    font-size: 36px
  }
  .feature__body {
    gap: 130px
  }
  .feature__column {
    flex: 0 0 calc(50% - 65px);
    gap: 70px
  }
  .feature__item {
    gap: 35px
  }
  .feature__item-title {
    font-size: 30px
  }
  .feature__item-text {
    font-size: 16px
  }
  .feedbacks {
    padding: 50px 0
  }
  .feedbacks__title {
    margin-bottom: 50px
  }
  .feedbacks__body {
    max-width: 1240px
  }
  .about {
    padding: 200px 0
  }
  .about__body {
    flex-direction: row;
    align-items: center;
    gap: 48px
  }
  .about__images {
    flex: 0 0 624px;
    width: 624px
  }
  .about__images::before {
    -webkit-transform: translate(-50%,-50%) rotate(-70deg);
    transform: translate(-50%,-50%) rotate(-70deg)
  }
  .about__content {
    flex: 1 1 auto
  }
  .about__title {
    font-size: 36px;
    line-height: 44px
  }
  .about__text {
    margin-bottom: 36px
  }
  .about__button {
    display: inline-flex
  }
  .advantages {
    padding: 100px 0
  }
  .advantages__item {
    flex: 0 0 calc(25% - 18px)
  }
}
@media (min-width:89.99875em) {
  ._container {
    max-width: 1400px
  }
  .header__slider-pagination-container {
    max-width: 1400px
  }
  .footer__column {
    flex: 0 0 calc(25% - 95px);
    width: calc(25% - 95px)
  }
  .footer__column.column-1 {
    flex: 0 0 300px;
    width: 300px
  }
  .footer__text {
    max-width: 280px
  }
  .product__slider-slide {
    margin-bottom: 100px;
    padding-bottom: 80%
  }
  .product__slider-slide::after {
    bottom: -80px
  }
  .feedbacks__body {
    max-width: 1400px
  }
}
@media (min-width:99.99875em) {
  ._container {
    max-width: 1450px
  }
  .header__slider-pagination-container {
    max-width: 1450px
  }
  .footer__column.column-1 {
    flex: 0 0 340px;
    width: 340px
  }
  .footer__text {
    max-width: 300px
  }
  .feedbacks__body {
    max-width: 1450px
  }
}